name: Build & pack

on:
  release:
    types:
      - created

jobs:

  test:
    name: Test NPM build & pack
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4

      - name: Install dependencies
        run: npm ci

      - name: Lint package
        run: npm run lint

      - name: Build package
        run: npm run build

      - name: Pack package
        run: npm run pack
